<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title> {$title} </title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="/public/tongji/css/style.css" media="all" />
	<!--[if IE]><link rel="stylesheet" href="/public/tongji/css/ie.css" media="all" /><![endif]-->
</head>
<body>
<div class="testing">
<header class="main">
	<h1><strong>{$title}  </strong></h1>
	<input type="text" value="search" />
</header>
</div>
<nav>
	<ul>
		<li><a href="#"><span class="icon icon3">&#128711;</span> </a></li>
		{volist name='daohang' id='lan'}
		{if condition="$lan.lname eq $tname"}
		<li class="section">{else}<li>{/if}
				<a href="{$lan.url}"><span class="icon">{$lan.icon}</span> {$lan.lname}</a>
			</li>
		{/volist}
		<!--
		<li>
			<a href="files.html"><span class="icon">&#127748;</span> 转化率统计 </a>
		</li>
		<li>
			<a href="blog-timeline.html"><span class="icon">&#59160;</span> 留存统计</a>
		</li>
		<li><a href="statistics.html"><span class="icon">&#128202;</span> 折线图</a></li>
		<li><a href="users.html"><span class="icon">&#128101;</span> Users <span class="pip">3</span></a></li>
		<li>
			<a href="ui-elements.html"><span class="icon">&#9881;</span> UI Elements</a>
			<ul class="submenu">
				<li><a href="icon-fonts.html">Icon fonts</a></li>
			</ul>
		</li>-->
	</ul>
</nav>

<!--<section class="alert">
	<form method="link" action="page-new.html">
		 <button class="green">Create new page</button>
	</form>
</section>-->

<section class="content">
	<section class="widget">
		<header>
			<span class="icon">&#128196;</span>
			<hgroup>
				<h1>{$tname.china}</h1>
				<h2>-----------</h2>
			</hgroup>
			<form method="post" action="{$tname.url}">
				<span style="">
					<input type="date" value="{$riqi.start_date}" style="margin-top:5px; float:right;" name="start_date"/>
					<input type="date" value="{$riqi.end_date}" style="margin-top:5px; float:right;" name="end_date"/>
					<input type="submit" style="margin-top: 5px; float: right;width: 80px;" value="查询">
				</span>
				<input type="hidden" value="{$tname.english}" name="tename">
			</form>
			<aside>

			</aside>
		</header>
		<div class="content">
			<table id="myTable" border="0" width="100">
				<thead>
					<tr>
						{volist name='field' id='title'}
						<th>{$title}</th>
						{/volist}
					</tr>
				</thead>
				<!--
					<tr style="background-color: lightgrey;font-size: 20px;">
-->

				{volist name='allbydate' id='content' key='i'}

					<tbody>
						<tr style="font-weight:bold;">
							<td >
								<button id="jiahao{$content.sum.date}" type="button" onclick="content_show('{$content.sum.date}')">+</button>
								<button id="jianhao{$content.sum.date}"  type="button" style="display: none;" onclick="content_hide('{$content.sum.date}')">-</button>
							</td>
							<td>{$content.sum.date}</td>
							<td>{$content.sum.channel_name}</td>
							<td>{$content.sum.add}</td>
							<td>{$content.sum.reg}({$content.sum.reg_app}/{$content.sum.reg_wx})</td>
							<td></td>
							<td>{$content.sum.live}</td>
							<td>{$content.sum.recharge_amount}({$content.sum.recharge_amount_new}/{$content.sum.recharge_amount_pasd})</td>
							<td>{$content.sum.buy_num}({$content.sum.buy_num_new}/{$content.sum.buy_num_pasd})</td>
							<td>{$content.sum.buy_amount}({$content.sum.buy_amount_new}/{$content.sum.buy_amount_pasd})</td>
							<td>{$content.sum.win_amount}</td>
							<td>{$content.sum.withdraw_amount}</td>
							<td>{$content.sum.withdraw_user}</td>
							<td>{$content.sum.create_time}</td>
						</tr>
					</tbody>
				    <tbody id = "daycontent{$content.sum.date}"  style="display: none;">
						{volist name='content.all' id='added'}
							<tr>
								<td> </td>
								<td>{$added.date}</td>
								<td>{$added.channel_name}</td>
								<td>{$added.add}</td>
								<td>{$added.reg}({$added.reg_app}/{$added.reg_wx})</td>
								<td>{$added.reg_rate}</td>
								<td>{$added.live}</td>
								<td>{$added.recharge_amount}({$added.recharge_amount_new}/{$added.recharge_amount_pasd})</td>
								<td>{$added.buy_num}({$added.buy_num_new}/{$added.buy_num_pasd})</td>
								<td>{$added.buy_amount}({$added.buy_amount_new}/{$added.buy_amount_pasd})</td>
								<td>{$added.win_amount}</td>
								<td>{$added.withdraw_amount}</td>
								<td>{$added.withdraw_user}</td>
								<td>{$added.create_time}</td>
							</tr>
						{/volist}
					</tbody>


				{/volist}
				</table>

		</div>
	</section>
</section>
<script>

    function content_show(date) {
        var jiahaoid = 'jiahao'+date;
        var jianhaoid = 'jianhao'+date;
        var daycontentid = 'daycontent'+date;
        $("#"+jiahaoid).hide();
        $("#"+jianhaoid).show();
        $("#"+daycontentid).show();
    }

    function content_hide(date) {
        var jiahaoid = 'jiahao'+date;
        var jianhaoid = 'jianhao'+date;
        var daycontentid = 'daycontent'+date;
        $("#"+jiahaoid).show();
        $("#"+jianhaoid).hide();
        $("#"+daycontentid).hide();
    }
</script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>-->
<script src="public/tongji/js/jquery.wysiwyg.js"></script>
<script src="public/tongji/js/jquery.min.js"></script>
<script src="public/tongji/js/custom.js"></script>
<script src="public/tongji/js/cycle.js"></script>
<script src="public/tongji/js/jquery.checkbox.min.js"></script>
<script src="public/tongji/js/flot.js"></script>
<script src="public/tongji/js/flot.resize.js"></script>
<script src="public/tongji/js/flot-graphs.js"></script>
<script src="public/tongji/js/flot-time.js"></script>
<script src="public/tongji/js/cycle.js"></script>
<script src="public/tongji/js/jquery.tablesorter.min.js"></script>

</body>
</html>