<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title> {$title} </title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="/public/tongji/css/style.css" media="all" />
	<!--[if IE]><link rel="stylesheet" href="/public/tongji/css/ie.css" media="all" /><![endif]-->
</head>
<body>
<div class="testing">
<header class="main">
	<h1><strong>{$title}  </strong></h1>
	<input type="text" value="search" />
</header>
</div>
<nav>
	<ul>
		<li><a href="#"><span class="icon icon3">&#128711;</span> </a></li>
		{volist name='daohang' id='lan'}
		{if condition="$lan.lname eq $tname"}
		<li class="section">{else}<li>{/if}
				<a href="{$lan.url}"><span class="icon">{$lan.icon}</span> {$lan.lname}</a>
			</li>
		{/volist}
		<!--
		<li>
			<a href="files.html"><span class="icon">&#127748;</span> 转化率统计 </a>
		</li>
		<li>
			<a href="blog-timeline.html"><span class="icon">&#59160;</span> 留存统计</a>
		</li>
		<li><a href="statistics.html"><span class="icon">&#128202;</span> 折线图</a></li>
		<li><a href="users.html"><span class="icon">&#128101;</span> Users <span class="pip">3</span></a></li>
		<li>
			<a href="ui-elements.html"><span class="icon">&#9881;</span> UI Elements</a>
			<ul class="submenu">
				<li><a href="icon-fonts.html">Icon fonts</a></li>
			</ul>
		</li>-->
	</ul>
</nav>

<!--<section class="alert">
	<form method="link" action="page-new.html">
		 <button class="green">Create new page</button>
	</form>
</section>-->

<section class="content">
	<section class="widget">
		<header>
			<span class="icon">&#128196;</span>
			<hgroup>
				<h1>{$tname.china}</h1>
				<h2>-----------</h2>
			</hgroup>
			<form method="post" action="{$tname.url}">
				<span style="">
					<input type="date" value="{$riqi.start_date}" style="margin-top:5px; float:right;" name="start_date"/>
					<input type="date" value="{$riqi.end_date}" style="margin-top:5px; float:right;" name="end_date"/>
					<input type="submit" style="margin-top: 5px; float: right;width: 80px;" value="查询">
				</span>
				<input type="hidden" value="{$tname.english}" name="tename">
			</form>
			<aside>

			</aside>
		</header>
		{block name="table_content"}

		{/block}
	</section>
</section>
<script>

    function content_show(date) {
        var jiahaoid = 'jiahao'+date;
        var jianhaoid = 'jianhao'+date;
        var daycontentid = 'daycontent'+date;
        $("#"+jiahaoid).hide();
        $("#"+jianhaoid).show();
        $("#"+daycontentid).show();
    }

    function content_hide(date) {
        var jiahaoid = 'jiahao'+date;
        var jianhaoid = 'jianhao'+date;
        var daycontentid = 'daycontent'+date;
        $("#"+jiahaoid).show();
        $("#"+jianhaoid).hide();
        $("#"+daycontentid).hide();
    }
</script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>-->
<script src="public/tongji/js/jquery.wysiwyg.js"></script>
<script src="public/tongji/js/jquery.min.js"></script>
<script src="public/tongji/js/custom.js"></script>
<script src="public/tongji/js/cycle.js"></script>
<script src="public/tongji/js/jquery.checkbox.min.js"></script>
<script src="public/tongji/js/flot.js"></script>
<script src="public/tongji/js/flot.resize.js"></script>
<script src="public/tongji/js/flot-graphs.js"></script>
<script src="public/tongji/js/flot-time.js"></script>
<script src="public/tongji/js/cycle.js"></script>
<script src="public/tongji/js/jquery.tablesorter.min.js"></script>

</body>
</html>