{extend name="tongji/public" /}
{block name="table_content"}
<div class="content">
	<table id="myTable" border="0" width="100">
		<thead>
		<tr>
			{volist name='field' id='title'}
			<th>{$title}</th>
			{/volist}
		</tr>
		</thead>
		{volist name='allbydate' id='content' key='i'}
		    {if condition="empty($channel_name)"}
			<tbody>
				<tr  style="font-weight:bold;">
					<td >
						<button id="jiahao{$content.sum.date}" type="button" onclick="content_show('{$content.sum.date}')">+</button>
						<button id="jianhao{$content.sum.date}"  type="button" style="display: none;" onclick="content_hide('{$content.sum.date}')">-</button>
					</td>
					<td>{$content.sum.date}</td>
					<td>{$content.sum.channel_name}</td>
					<td>{$content.sum.add}</td>
					<td>{$content.sum.live}</td>
					<td>{$content.sum.one}</td>
					<td>{$content.sum.two}</td>
					<td>{$content.sum.three}</td>
					<td>{$content.sum.four}</td>
					<td>{$content.sum.five}</td>
					<td>{$content.sum.six}</td>
					<td>{$content.sum.seven}</td>
					<td>{$content.sum.fifteen}</td>
					<td>{$content.sum.thirty}</td>
					<td>{$content.sum.create_time}</td>
				</tr>
			</tbody>
		    {/if}
			<tbody  id = "daycontent{$content.sum.date}"  {if condition="empty($channel_name)"} style="display: none;"   {/if}>
		    {if condition="!empty($content.all)"}
				{volist name='content.all' id='added'}
					<tr>
						<td></td>
						<td>{$added.date}</td>
						<td>{$added.channel_name}</td>
						<td>{$added.add}</td>
						<td>{$added.live}</td>
						<td>{$added.one}</td>
						<td>{$added.two}</td>
						<td>{$added.three}</td>
						<td>{$added.four}</td>
						<td>{$added.five}</td>
						<td>{$added.six}</td>
						<td>{$added.seven}</td>
						<td>{$added.fifteen}</td>
						<td>{$added.thirty}</td>
						<td>{$added.create_time}</td>
					</tr>
				{/volist}
		    {/if}
			</tbody>
		{/volist}
	</table>
</div>
{/block}