body {
    font: 400 14px/21px Arial, serif
}

.user {
    float: left;
    width: 100%;
    margin-top: 5%;
}
.userlist {
    width: 49%;
}

.lhc {
    float: left;
    width: 100%;
    margin-top: 5%;
}

.lhclist {
    width: 60%;
}

table {
    font-size: 1em;
    border-collapse: collapse;
    margin: 0 auto
}

table, td, th {
    border: 1px solid #999;
    padding: 8px 16px;
    text-align: left
}

table.ex-2 {
    min-width: 50px
}

th {
    background: #f4f4f4;
    cursor: pointer;
    width: 115px;
}

th.idwidth {
    width: 70px;
}
th.timewidth {
    width: 140px;
}

th.sorted, th:hover {
    background: #d4d4d4
}

th.no-sort, th.no-sort:hover {
    background: #f4f4f4;
    cursor: not-allowed
}

th.sorted.ascending:after {
    content: "  \2191"
}

th.sorted.descending:after {
    content: " \2193"
}

.disabled {
    opacity: .5
}

ul.pagination {
	list-style-type:none;
	
}
ul.pagination li {
	display:inline-block;
	float: left;
	font-size: 15px;
	margin-right: 10px;
	padding: 5px;
	cursor: pointer;
	border: 1px;
}