<div class="zy_right">
    <div class="right">
        <a href="#"><img src="__HOME__/images/sub_07.jpg" /></a>
        <div class="right_nei">
            <img src="__HOME__/images/sub_12.jpg" />
            <h4><a href="#">不适合做优化推广的网站有哪些</a></h4>
            <UL>
                <LI><a href="#">整合网络营销的着眼点</a></LI>
                <LI><a href="#">站长盈利必不可少的条件</a></LI>
                <LI><a href="#">网络营销要注意规避口碑营销</a></LI>
                <LI><a href="#">最好的网站优化情形</a></LI>
                <LI><a href="#">用户体验有哪些技巧？</a></LI>
            </UL>
        </div>
        <div class="right_xia"></div>
    </div>
    <div class="right">
        <a href="#"><img src="__HOME__/images/sub_22.jpg" /></a>
        <div class="right_nei contact">{$contact.content}</div>
        <div class="right_xia"></div>
    </div>
</div>