{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <form id="wxMenuOrder" name="wxMenuOrder" method="post" action="{:url('wxMenuOrder')}" >
                            <div class="table-responsive">
                                <table id="dynamic-table" class="table table-striped table-bordered table-hover center">
                                    <thead>
                                    <tr>
                                        <th class="center wh90">ID</th>
                                        <th class="center">关键词</th>
                                        <th class="center">回答</th>
                                        <th class="center" style="border-right:#CCC solid 1px;width: 120px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="lists" id="v"}
                                    <tr>
                                        <td>{$v.id}</td>
                                        <td class="text-left">{$v.keyword}</td>
                                        <td class="text-left">{$v.text}</td>
                                        <td>
                                            <div class="action-buttons">
                                                <a class="green" href="{:url('editText',array('id'=>$v['id']))}"  title="修改">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>
                                                <a class="red" href="javascript:void(0);" data-href="{:url('delText',array('id'=>$v['id']))}" onclick="del('{$list[id]}',this)" title="删除">
                                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {/volist}
                                    <tr>
                                    <tr>
                                        <td colspan="4" align="right">{$page}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>

<script>
    // 删除操作
    function del(id,t) {
        layer.confirm('你确定要删除该文本回复吗？', {icon: 3}, function(index){
            layer.close(index);
            window.location.href= $(t).data('href');
        });
    }
</script>
</body>
</html>
